body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

a {
    text-decoration: none;
    color:#e5e7eb
}

ul{
    list-style-type: none;
    display: flex;margin: 0;
    padding: 10px;
    gap: 16px;
}

.logo{
font-size: 24px;
color: #f9faf8;
padding: 10px;
}

.header{
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: space-evenly;
    align-items: baseline;
    border-bottom: 1px solid #ddd;
    background: #1f2937;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 14px;    
    flex-wrap: wrap;
}

.box{
    width: 350px;
    height: auto;
    padding: 10px;
    margin:0;
}

.text-white{
    color: #f9faf8;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;

  }

.section-dark-blue{
    background: #1f2937;
}

.section-dark-grey{
    background: #e5e7eb;
}

.unit{
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.center-text{
    text-align: center;
}

.square{
    width: 100%;
    padding-bottom: 100%;
    border: royalblue solid;
    border-radius: 8px;
}

.quote-large{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.quote-sub{
    font-weight: bolder;
    text-align: right;
    font-size: 20px;
}

.quote-box{
    justify-content: center;
    padding: 10px;
    margin: 10px;
    max-width: 70%;
}

