body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }


a {
    text-decoration: none;
    color:#e5e7eb
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}

li{
    margin: 0;
    padding: 0;
}

.fit{
    object-fit: contain;
}

.image-main{
    min-width: 400px;
}
.logo{
font-size: 24px;
color: #f9faf8;
margin-right: 3rem;
}


.header{
    border-bottom: 1px solid #ddd;
    background: #1f2937;
    padding: 1em;
}

.title-big{
    font-size: 48px;
    font-weight: bold;
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
}

.nav{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: baseline;
}

.box{
    flex: 1;
}

.max-page-width{
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3em;    
    flex-wrap: wrap;
}

.padded-section{
    padding: 4em 1em 6em 1em;
}

.margin-section{
    margin-top: 2em;
    margin-bottom: 2em;
}

.text-white{
    color: #f9faf8;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;

  }

.section-dark-blue{
    background: #1f2937;
}

.section-dark-grey{
    background: #e5e7eb;
}

.unit{
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.center-text{
    text-align: center;
}

.square{
    width: 100%;
    padding-bottom: 100%;
    border: royalblue solid;
    border-radius: 8px;
}

.quote-large{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.quote-sub{
    font-weight: bolder;
    text-align: right;
    font-size: 20px;
}

.quote-box{
    justify-content: center;
    padding: 10px;
    margin: 10px;
    max-width: 70%;
}

.blue-box{
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin: 20px;
    padding: 10px;
}

.button-in-call{
    align-self: center;
    justify-self: center;
    border:  1px solid #ddd;
}

.footer{
    background: #1f2937;
    text-align: center;
    color: #ddd;
    margin: 0;
    padding: 10px;
}
